<%- include('../partials/admin/header') %>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Add New Category
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Data</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-content">
                            <form id="categoryForm" class="col s12" action="/admin/category/addCategory" method="post"
                                >
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="Category Name" id="CategoryName" type="text" class="validate"
                                            name="categoryName">
                                        <div id="error1"></div>    
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="Description" id="CategoryDescription" type="text" class="validate"
                                            name="categoryDiscription">
                                        <div id="error2"></div>    
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <button type="submit" class="btn btn-success" >add category</button>
                                    </div>
                                </div>
                            </form>

                            <div class="clearBoth"></div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
         <!-- error message -->
        <% if (typeof errorMessage !== 'undefined') { %>
            <script>
                alert("<%= errorMessage %>");
            </script>
        <% } %>
        
         <script>
            const description=document.getElementById('CategoryDescription')
            const categoryName=document.getElementById('CategoryName')
            const error1=document.getElementById('error1')
            const error2=document.getElementById('error2')
            const categoryForm=document.getElementById('categoryForm')


            function nameValidation(){
                const nameValue=categoryName.value.trim()
                const namePattern=/^[A-Za-z\s&]+$/
                
                
                if(!namePattern.test(nameValue)){
                    error1.innerHTML="name only contain letters"
                    console.log("failed validation")
                    return false
                }else{
                    error1.innerHTML=""
                    return true
                }
            }
            function descriptionValidation(){
                const descrptionVal=description.value.trim()
                if(descrptionVal.length>60){
                    error2.innerHTML="discription only allowed 60 caracters"
                    return false
                }else if(descrptionVal === ''){
                    error2.innerHTML="discription is required"
                    return false
                }
                else{
                    error2.innerHTML=""
                    return true
                }
            }

            document.addEventListener("DOMContentLoaded",function(){
                categoryForm.addEventListener('submit',function(e){
                    const isValid=nameValidation()
                    const isDescription=descriptionValidation()

                    if(! isValid || ! isDescription){
                        e.preventDefault()
                    }
                })
            })
            
         </script>
        <%- include('../partials/admin/footer') %>